.testBorder {
  border: 2px solid green;
}
body {
  background-image: url(/img/Curtains.png);
  background-size: 100%;
}
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body li,
body nav a {
  color: gold;
}
body .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  width: 75%;
  padding-left: 5%;
  text-decoration: none;
}
body .header .icon {
  background: #ff0000;
  background: radial-gradient(circle, #ff0000 0%, #282121 100%);
  width: 20%;
  border-radius: 50%;
  border: 1px solid gold;
  font-family: 'permanent marker';
  text-align: center;
}
body .header .icon a {
  text-decoration: none;
}
body .header nav {
  width: 200%;
  text-decoration: none;
  height: 10%;
  font-family: 'Satisfy';
}
body .header nav a {
  background: #ff0000;
  background: radial-gradient(circle, #ff0000 0%, #282121 100%);
  width: 20%;
  border-radius: 50%;
  border: 1px solid gold;
  text-decoration: none;
  margin: 8%;
}
body .mid {
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
}
body .mid .celebrity {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Notable';
  width: 25%;
  margin-left: 18%;
  text-align: center;
}
body .mid .celebrity .star {
  width: 75%;
}
body .mid .celebrity h2 {
  background: #ff0000;
  background: radial-gradient(circle, #ff0000 0%, #282121 100%);
  width: 20%;
  border-radius: 10%;
  border: 1px solid gold;
  width: 100%;
}
body .mid .celebrity p {
  background: #ff0000;
  background: radial-gradient(circle, #ff0000 0%, #282121 100%);
  width: 20%;
  border-radius: 10%;
  border: 1px solid gold;
  width: 100%;
  font-size: 0.75rem;
}
body .mid .buttons {
  margin-top: 20.5%;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 3%;
  background: #ff0000;
  background: radial-gradient(circle, #ff0000 0%, #282121 100%);
  border-radius: 30%;
  border: 1px solid gold;
  width: 20%;
  text-align: center;
  height: 10%;
  font-family: 'Notable';
  font-size: 0.5rem;
}
body .mid .buttons .Alive {
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
body .mid .buttons .Alive .Alive:hover {
  background: #434343;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
body .mid .scoreBoard {
  margin-right: 18%;
  background: #ff0000;
  background: radial-gradient(circle, #ff0000 0%, #282121 100%);
  width: 20%;
  border-radius: 10%;
  border: 1px solid gold;
  height: 10%;
  text-align: center;
  font-family: 'Notable';
}
