body {
    background-image: url(/img/Curtains.png);
    background-size: 100%;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    li,
    nav a {
        color: gold;


    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2%;
        width: 75%;
        padding-left: 5%;
        text-decoration: none;

        .icon {
            .redRound();
            font-family: 'permanent marker';
            text-align: center;

            a {

                text-decoration: none;
            }
        }

        nav {
            width: 200%;
            text-decoration: none;
            height: 10%;
            font-family: 'Satisfy';


            a {
                .redRound();
                text-decoration: none;
                margin: 8%;
            }
        }
    }


    .mid {
        display: flex;
        margin-top: 5%;
        justify-content: space-around;

        .celebrity {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Notable';
            width: 25%;
            margin-left: 18%;
            text-align: center;

            .star {
                width: 75%;
            }

            h2 {
                .redRound(10%);
                width: 100%;
            }

            p {
                .redRound(10%);
                width: 100%;
                font-size: .75rem;
            }
        }

        .buttons {
            margin-top: 20.5%;
            margin-right: 10%;
            margin-left: 10%;
            padding-top: 3%;
            .redRound(20%);
            width: 20%;
            text-align: center;
            height: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Notable';
            font-size: .5rem;

            .buttons:hover {
                cursor: pointer;
                -webkit-box-shadow: 0px 5px 40px -10px gold;
                -moz-box-shadow: 0px 5px 40px -10px gold;
                box-shadow: 5px 40px -10px gold;
                transition: all 0.4s ease 0s;

            }

            .Alive,
            .Dead {
                .buttonSettings();
            }
        }

        .scoreBoard {
            margin-right: 18%;
            .redRound(10%);
            height: 10%;
            text-align: center;
            font-family: 'Notable';
        }
    }
}